body {
    height: 1500px;
}

#contenedor {
    border: 1px solid magenta;
    width: 500px;
    height: 500px;

    /* position: static; */
    position: absolute;
    top: 200px;
    left: 100px;
}

#uno, #dos, #tres, #cuatro {
    /* border: 1px solid black; */
    width: 100px;
    height: 100px;
    text-align: center;
    line-height: 100px;
    color: white;
}

#uno {
    background-color: red;

    /* position: static; */

    /* position: absolute;
    top: 0px;
    left: 0px; */
    /* bottom: 0px; */
    /* right: 0px; */

    /* position: relative;
    top: 0px;
    left: 0px; */

    position: fixed;
    top: 50px;
    left: 250px;

    z-index: 2;
}

#dos {
    background-color: green;

    /* position: static; */

    /* position: absolute;
    top: 100px;
    left: 100px; */

    position: relative;
    top: 0px;
    left: 100px;

    z-index: 1;
}

#tres {
    background-color: blue;

    /* position: static; */

    /* position: absolute;
    top: 200px;
    left: 200px; */

    position: relative;
    top: 0px;
    left: 200px;

    z-index: 3;
}

#cuatro {
    background-color: orangered;

    /* position: static; */

    /* position: absolute;
    top: 300px;
    left: 300px; */

    position: relative;
    top: 0px;
    left: 300px;
}

