/*
* {
    box-sizing: border-box;
}
*/

body {
    margin: 0;
}

p {
    margin: 0;
    border: 1px solid black;
}

div {
    width: 800px;
    height: 600px;

    background-color: #ddd;

    /*  display: flex;
    flex-wrap: wrap; */
    display: grid;
    grid-template-columns: 100px 300px;
    grid-template-rows: 120px 200px;
    /*justify-content: start;
    justify-content: end;*/
    justify-content: center;
    
 /*   column-gap: 30px;*/
    
/*    align-content: start;
    align-content: end;*/
    align-content: center;

    /*row-gap: 30px;*/
    /*grid-gap:30px;*/
    gap: 30px;
}

/*
p {
    width: 50%;
}
    */