div {
    border: 1px solid black;
}

main {
    /*border:1px solid magenta;*/
    /*height: 600px;*/
    display: grid;

    /* grid-template-columns: 100px 200px 300px;*/
    /*grid-template-columns: auto auto auto;*/
    /*grid-template-columns: 100px auto 300px;*/
    grid-template-columns: auto auto auto auto;

    /*grid-template-rows: 100px;*/
    grid-auto-rows: 100px;


}


#pos-expand-1 {
    grid-column-start: 2;
    /*grid-column-end: 4;*/
    grid-column-end: span 2;

    grid-row-start: 2;
    /*grid-row-end: 4;*/
    grid-row-end: span 2;

}


#pos-expand-4 {
    grid-column-start: 1;
    /*grid-column-end: 2;*/
    grid-column-end: span 1;

    grid-row-start: 3;
    grid-row-end: 6;

}