body {
    margin: 0;
}

div {
    border: 1px solid yellow;
    color: white;
}

.wrapper {
    background-color: gray;

    display: grid;

    grid-template-columns: 1fr 3fr 2fr 0.5fr;
    /*grid-template-columns: repeat(4, auto);*/

    /*grid-template-rows: 150px 150px;*/
    grid-template-rows: repeat(2, 150px);
    grid-template-areas:
        "a a d b"
        "c . d .";
}

.item1 {
    background-color: blue;
    grid-area: a;
}

.item2 {
    background-color: red;
    grid-area: b;
}

.item3 {
    background-color: green;
    grid-area: c;
}

.item4 {
    background-color: black;
    grid-area: d;
}