body,
h1,
h2,
h3,
p {
    margin: 0;
}

.container {
    background-color: gray;
    color: white;
    text-align: center;

    display: grid;

    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: 15vh 10vh 60vh 15vh;
    /* revisar como lo subio el profe porque cambio todo a ultimo momento*/
    grid-template-areas:
        "header header header header header header header header header header header header header header header header header header header header"
        "nav nav nav nav nav nav nav nav nav nav nav nav nav nav nav nav nav nav nav nav"
        "aside1 aside1 aside1 main main main main main main main main main main main main main main main aside2 aside2"
        "footer footer footer footer footer footer footer footer  footer footer footer footer footer footer footer footer footer footer  footer footer"
        ;

}

.container header {
    background-color: red;
    grid-area: header;
}

.container nav {
    background-color: blueviolet;
    grid-area: nav;
}

.container aside {
    background-color: brown;
    grid-area: aside1;
}

.container aside#aside-2 {
    background-color: teal;
    grid-area: aside2;
}

.container main {
    background-color: green;
    grid-area: main;
}

.container footer {
    background-color: cyan;
    grid-area: footer;
}