/*  https://developer.mozilla.org/en-US/docs/Web/CSS/flex   */
/*  Docu de flex de display */
/*  https://developer.mozilla.org/en-US/docs/Learn_web_development/Core/CSS_layout/Flexbox */
/*  flex no se hereda en los hijos*/

body {
    margin: 0;
}

#contenedor {
    border: 1px solid magenta;
    width: 100%;
    height: 500px;

    color: white;
    /*hereda a los hijos*/
    font-size: 20px;
    font-family: Verdana;
    display: flex;

    /*justify-content: start;
    justify-content: end;
    justify-content: center;
    justify-content: space-between;
    justify-content: space-around;
    justify-content: space-evenly;
    align-items: start; 
    align-items: end;*/
    align-items: center;
    flex-wrap: nowrap;
    flex-wrap: wrap;
    flex-direction: row;
    flex-direction: column;

}

#c1 {
    background-color: red;
    height: 100px;
    width: 5%;
}

#c2 {
    background-color: blue;
    height: 100px;
    width: 10%;
    align-self: end;
}

#c3 {
    background-color: green;
    height: 100px;
    width: 40%;
    justify-content: space-between;
}

#c4 {
    background-color: brown;
    height: 100px;
    width: 45%;
}

span {
    background-color: blueviolet;
    /*ancho auto*/
    /*display: block;*/
    width: 50%;
    height: 75px;
}

#cc1 {
    background-color: black;
    width: 20%;
    height: 50px;
}

#cc2 {
    background-color: navy;
    width: 30%;
    height: 50px;

}

#cc3 {
    background-color: orange;
    width: 20%;
    height: 50px;
}