<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout de Sitio</title>
    <link rel="stylesheet" href="css/estilos.css">
</head>

<body>
    <!---->

    <!--Encabezado-->
    <header>
        header <br>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum rerum veritatis exercitationem ipsam?
    </header>

    <!--barra navegacion-->

    <nav>nav <br>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quisquam aliquid et vero tenetur molestiae iure
        voluptates assumenda saepe, similique ad nam officia debitis recusandae, fuga ducimus nulla quod porro libero?
    </nav>
    <!--aside-->

    <aside id="aside1">aside <br>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis consequatur fuga voluptas
        molestias eaque suscipit officia a error. Natus odit quisquam aperiam rerum quas ab soluta fuga corrupti
        voluptate laudantium.</aside>

    <!--aside contenido principal-->

    <main>main <br>
        <section>
            contenido 1 <br>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iusto cupiditate sunt, corporis nulla provident
            inventore iste, vero magnam in aut autem! Sunt recusandae nihil distinctio, laborum mollitia quibusdam
            numquam quod!
        </section>
        <section>
            contenido 2 <br>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iusto cupiditate sunt, corporis nulla provident
            inventore iste, vero magnam in aut autem! Sunt recusandae nihil distinctio, laborum mollitia quibusdam
            numquam quod!

        </section>
    </main>

    <aside id="aside2">aside2 <br>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis, laudantium nihil? Eligendi quia ex
        ipsa quam delectus atque cupiditate ducimus magni, quaerat quos id labore maiores illum corrupti ab? Hic.
    </aside>

    <footer>footer <br>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae maiores recusandae fugiat
        ipsum exercitationem qui natus. Mollitia cum ea dolores dicta numquam repudiandae repellendus necessitatibus
        consequuntur, exercitationem earum, accusantium magnam?</footer>


    </body>

</html>