* {
    box-sizing: border-box;
}

#container {
    /* border: 1px solid magenta; */
    height: auto;
}

div {
    height: 200px;
}

#caja-roja {
    /* border: 1px solid magenta; */
    width: 30%;
    background-color: red;
    float: right;
}

#caja-gris {
    /* border: 1px solid magenta; */
    width: 15%;
    background-color: gray;
    float: right;
}

#caja-verde {
    /* border: 1px solid magenta; */
    width: 25%;
    background-color: green;
    overflow: auto;
    /* aparece scrool si se necesita*/
    color: white;
    float: left;
    padding: 5px;
    margin-right: 5px;
}

#caja-amarilla {
    /* border: 1px solid magenta; */
    width: 10%;
    background-color: yellow;
    float: right;
}

p {
    color: brown;
    margin: 0;
    border: 5px solid magenta;
    /*clear: both;*/
}