#contenedor {
    border: 1px solid magenta;
    width: 500px;
    height: 500px;
    /*position: absolute;*/
    
    top: 100px;
    left: 100px;
}


#uno,
#dos,
#tres,
#cuatro {
    width: 100px;
    height: 100px;
    /*border: 1px solid black;*/
    text-align: center;
    line-height: 100px;
    color: white;
}


#uno {
    background-color: red;
    /*position: absolute;*/
    position: relative;
    top: 0px;
    /* busca el primer padre(body) no estatico*/
    left: 0px;
    /* el html le da la posicion*/

}

#dos {
    background-color: green;
    /*position: absolute;*/
    top: 100px;
    /* busca el primer padre(body) no estatico*/
    left: 100px;
    /* el html le da la posicion*/

    /* el html le da la posicion*/

}

#tres {
    background-color: blue;
    position: relative;
    top: 200px;
    /* busca el primer padre(body) no estatico*/
    left: 200px;
    /* el html le da la posicion*/
    /* el html le da la posicion*/
}

#cuatro {
    background-color: orange;
    /*position: absolute;*/
    position: relative;
    top: 300px;
    /* busca el primer padre(body) no estatico*/
    left: 300px;
    /* el html le da la posicion*/
    /* el html le da la posicion*/
}