/* https://developer.mozilla.org/es/docs/Web/CSS/Pseudo-classes */


/* ---------------------------------- */
/*            :nth-child()            */
/* ---------------------------------- */
/* https://developer.mozilla.org/es/docs/Web/CSS/:nth-child */

/* main :nth-child(1) { */
main :first-child {
    background-color: pink;
}

main :nth-child(6) {
    background-color: yellow;
}

main :nth-last-child(6) {
    background-color: orange;
}

main :last-child {
    background-color: salmon;
}

main :nth-child(even) {
    background-color: purple;
    color: white;
}

main :nth-child(odd) {
    background-color: orangered;
    color: white;
}

/* ---------------------------------- */
/*          :nth-of-type()            */
/* ---------------------------------- */
/* https://developer.mozilla.org/es/docs/Web/CSS/:nth-of-type */



