h1 {
    border: 2px solid powderblue;
}

h2 {
    border: 3px solid palegoldenrod;
}

h3 {
    border: 4px solid palevioletred;
}

h4 {
    border: 5px solid red;
}

h5 {
    border: 6px solid blue;
}

h6 {
    border: 7px solid orange;
}